body{
    background-image: url("../images/home1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font;
}

.head{
    background-color: $profile;
    width: 50%;
    color: white;
    padding: 30px;
    margin-top: 300px;
}

// about styling
.about{
    text-align: center;
    background-color: grey;
    color: white;
    h2{
        font-size: 30px;
    }
    p{
        text-align: left;
    }
}

.aboutContainer{
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
}

// education

.main{
   background-color: white;
   color: black;
   h2{
       font-size: 30px;
       text-align: center;
       padding-bottom: 20px;
   }

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    h2{
        font-size: 20px;
    }
    padding-bottom: 40px;
}

.item{
    background-color: black;
    color: white;
    margin-left: 50px;
}

.skill{
    background-color: orange;
    
}

