body{
    background-image: url("../images/home1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font;
}

*{
    font-family: $font;
    scroll-behavior: smooth;
}

// navbar
nav{
    position: fixed;
}

.head{
    background-color: $profile;
    width: 50%;
    color: white;
    padding: 30px;
    margin-top: 300px;
    font-family: $h1;
}

// about styling
.about{
    text-align: center;
    background-color: #1e1e1e;
    color: grey;
    font-family: $font;
    h2{
        padding-top: 20px;
        font-size: 30px;
    }
    p{
        text-align: left;
    }
}

.aboutContainer{
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 20px;
    font-family: $font;
    p{
        padding-left:20px;
        padding-top: 30px;
    }
    img{
        height: 200px;
        border:3px solid white;
    }

    h2{
        padding-top: 20px;
    }
}

// education

.main{

   background-color: rgb(235, 230, 230);
// background-image: url("../images/pexels-mountains.jpeg");
// background-position: center;
   color: #6e6d6c;
   background-attachment: fixed;
   font-family: $font;
   h2{
       font-size: 30px;
       text-align: center;
       padding-bottom: 20px;
   }

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    h2{
        font-size: 20px;
    }
    padding-bottom: 40px;
}

.item{
    background-color: white;
    color: #6e6d6c;
    margin-left: 50px;
    padding: 40px;
    
    img{
        height: 300px;
        width: 100%;
    }
}

.skill{
    background-color: orange;
    height: 200px;
    color: white;
    
}

.skill:hover{
    transform: scale(1.1);
    background-color:black;
}

.skills{
    background-color:rgb(235, 230, 230) ;
    color: #6e6d6c;
    text-align: center;
    h2{
        font-size: 30px;
    }
    
    i{
        font-size: 70px;
        color: white;
        padding-top: 50px;
    }
}

// portfolio styling
.port{
    padding-left: 20px;
    padding-right: 20px;
    img{
        width: 500px;
        height: 300px;
        border: 2px solid grey;
    }
}

.portContiner{
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    h2{
        padding-bottom: 30px;
        font-size: 30px;
    }
}

img:hover{
    transform: scale(1.1);
    transition: 2s;
}

// interest
.hobbies{
    background-color: rgb(235, 230, 230);
    color: #3a405a;
    text-align: center;
    h2{
        font-size: 30px;
    }
}
.interest{
    padding-left: 40px;
    padding-top: 30px;
    img{
        width: 200px;
        height: 200px;
    }
}

/* contact styling */
footer{
    background-color:white;
    color: #3a405a;
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
    margin-top: 0%;
}

footer i{
    padding-left: 20px;
    font-size: 40px;
    color: black;
    
}
 
footer i:hover{
    border: 2px solid rgba(39, 42, 224, 0.788);
    padding: 10px;
    border-radius: 50%;
}

 #fone:hover{
    animation: shake 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    border: none;
} 

#fone {
    padding-right: 10px;
}

 @keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
    10% {
      transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(-8deg);
    }
    90% {
      transform: rotate(8deg);
    }
  }
