// fone styling
#fone {
    padding-right: 10px;
}

#fone:hover{
    animation: shake 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
} 

 @keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
    10% {
      transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(-8deg);
    }
    90% {
      transform: rotate(8deg);
    }
  }

//contact icons

.contact{
    padding-top: 20px;
    i{
        font-size: 30px;
        color: white;
        padding-left: 20px;
    }

    i:hover{
        color: gray;
    }
}
