// button styling for cv
.head{
  button{
    background-color: $profile;
    color: white;
    border: 2px solid white;
    height: 30px;
    width: 100px;
    // arrow
    #arrow{
      display: none;
    }
  }

  button:hover{
    background-color: white;
    color: black; 
    // arrow
    #arrow{
      display: inline;
    }
  }
}

// loader styling
#loader{
  text-align: center;
  padding: 350px;
  font-size: 40px;
  
  color: white;
}

#loader {
	-webkit-animation: color-change 2s linear infinite alternate both;
	        animation: color-change 2s linear infinite alternate both;
}

@-webkit-keyframes color-change {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}


