@media only screen 
and (min-device-width: 0px)
and (max-device-width: 767px){
    // home page styling
    

    .head{
        margin-left: 60px;
        margin-bottom: 30px;
        margin-top: 201px;
        height: 252px;
    }

    .aboutContainer{
        display: block;
        img{
            width: 200px;
            height: 250px;
        }
    }

    .container{
        display: block;
        
    }

    .item{
        margin-left: 5px;
    }

    .skillsContainer{
        display: block;
    }

    .slide{
        width: 300px;
        margin-left: 30px;
        height: 250px;

        img{
            height: 250px;
        }
    }

    footer{
        font-size: 20px;
        i{
            font-size: 25px;
        }
    }
}

